<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div *ngIf="showSplash" class="splash">
  <div class = "mosque">
    <div class = "crescent"></div> 
    <div class = "minaret-left">
      <div class = "minaret-roof"></div>
      <div class = "minaret-window"></div>
      <div class = "balcony balcony-top"></div>
      <div class = "balcony balcony-bottom"></div>
      <div class = "top"></div>
    </div>
    <div class = "minaret-right">
      <div class = "minaret-roof"></div>
      <div class = "minaret-window"></div>
      <div class = "balcony balcony-top"></div>
      <div class = "balcony balcony-bottom"></div>
      <div class = "top"></div>
    </div>
    <div class = "small left">
      <div class = "door"></div>
      <div class = "dome dome-left"></div>
      <div class = "dome dome-right"></div>
      <div class = "top"></div>
    </div>
    <div class = "middle">
      <div class = "middle-main"> </div>
      <div class = "middle-windows"></div>
      <div class = "dome dome-left"></div>
      <div class = "dome dome-right"></div>
      <div class = "top"></div>
    </div>
    <div class = "small right">
      <div class = "dome dome-left"></div>
      <div class = "dome dome-right"></div>
      <div class = "top"></div>
    </div>
    <h1>صلى على محمد ﷺ</h1>
  </div>
    
  </div>
  
  
  
</ion-app>
